#############################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.ide
*.ide-shm
*.ide-wal
*.lastcodeanalysissucceeded
*.xml
*.suo
*.CopyComplete
.vscode/
bin/
obj/
*.exe
*.config
obj/
**/packages/**
packages/Microsoft.NETCore.Platforms.1.1.0/.signature.p7s
