################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
*.ide
*.ide-shm
*.ide-wal
*.lastcodeanalysissucceeded
*.xml
*.suo
*.CopyComplete
*.dll
.vscode/*
bin/*
obj/*
*.exe