<?xml version="1.0"?>
<configuration>
    <configSections>
        
    </configSections>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235D27FCBFFF58" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.46.0.1" newVersion="0.46.0.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eUtilsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi"
                binding="basicHttpBinding" bindingConfiguration="eUtilsServiceSoap"
                contract="eUtils.eUtilsServiceSoap" name="eUtilsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
